@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@300 & family= Roboto:wght@300 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300;500&display=swap');


:root{
/* Concernant l'entete */
    --BodyColor: #FFFFFF;
    --headerColor:  #0F172A;
    --mainHeadlineSize: 6.5rem;
    --buttonHead: #0F172A;
    --buttonColor:  #BE123C;
    --textWoketyamo: 1.5rem;
    --navBarheidth: 9.6rem;
    --navBarpadding: 4rem, 10rem, 4rem, 10rem;
    --raduisButton: .5rem;
/* proprietes de la section apres l'entete */
    --primarySectionColor: #F1F5F9;
    --primarySectionPadding: 4.8rem, 8rem, 4.8rem, 8rem; 
    --primarySectionheight: 12.8rem;
/* proprietes de la section feature (PADDING DE 8rem a UTILISER SUR TOUT LES SECTIONS)*/
    --sectionFeaturePadding: 6.5rem; 
    --sectionFeatureWidth: 144rem; 
    --sectionFeatureHeight: 58.6rem; 
    --featureBoxheight: 35.4rem;
    --featureBoxwidth: 23.6rem;
    --featureBoxborder: .1rem;
    --featureBoxraduis: .5rem;
/* propriétes de la section "lates masterpieces" */
    --boxHeadlinewidth: 30rem;
    --boxHeadlineheight: 22rem;
    --boxHeadlineraduis: .4rem;
/* proprietes de la section "Best Solution for your ....." */
    --secondSection:  #475569;
/* police d'ecriture des grands titres */
    --titleHeadFont: 'Roboto', sans-serif;; 
/* proprietes de la dernier section */
    --sectionEnd: #0F172A;
/* Taille de tout les grands titre excepté celui de l'entete */
    --sizeTitle : 5.6rem
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    max-width: 100vw;
}
html{
    border: none;
    font-size: 10px;
    margin: 0;
    padding: 0;
}
/* gestions de mes popus */
.popup__popetty{
    width: 30rem;
    height: 20rem;
    border: none;
    position: absolute;
    top: 101%;
    left: 12%;
    background: rgba(160, 155, 155, 0.5);
    border-radius: 2rem;
}

/* traitement de l'entete */
.header{
    width: 100vw;
    height: 90.5vh;
    background: var(--headerColor);
}
.header__navbar{
    width: 100vw;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__navbar__title{
    font-family: var(--titleHeadFont);
    font-size: var(--textWoketyamo);
    color: var(--BodyColor);
    display: flex;
    justify-content: flex-start;
    flex: 2;
    padding-left: 10rem;
}
.header__navbar__nav{
    font-family: var(--titleHeadFont);
    font-size: 1.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 2;
}
.header__navbar__nav a{
    text-decoration: none;
    color: var(--BodyColor);
    transition: 0.25s ease-out;
}


/* Animation sur les liens de la navbar */
.header__navbar__nav a:hover{
    transform: scale(1.1); 
}
.header__navbar__nav__link:hover{
    transform: scale(1.1); 
    background-color: var(--BodyColor);
    color: var(--headerColor);   
}
.header__navbar__nav__link{
    padding: 1rem 2rem 1rem 2rem;
    border: 2px solid var(--BodyColor);
    border-radius: var(--raduisButton);
    transition: 0.25s ease-out;
    
}

/* Fin de la navBar */

/* Traitement de du header zone presentation */

.header__public{
    width: 100vw;
    display: flex;
    margin-top: 2.2rem;;
}
.header__public__text{
    flex: 4;
    padding: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__pulic__text__title h1{
    font-size: var(--mainHeadlineSize);
    color: var(--BodyColor);
}
input[type = "text"]{
    width: 42rem;
    height: 3.8rem;
    border-radius: var(--raduisButton);
    border: none;
}

.btnInput{
    padding: 1.3rem 2rem 1.3rem 2rem;
    background-color: var(--buttonColor);
    color: var(--BodyColor);
    border: none;
    border-radius: var(--raduisButton);
    cursor: pointer;
    transition: 0.25s ease-out;
    margin-left: 1rem;
}
.btnInput:hover{
    background-color: var(--BodyColor);
    color: var(--buttonColor);
}
.header__pulic__text__title__btn{
    width: 40rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btnSearch{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: var(--titleHeadFont);
    color: var(--BodyColor);
    font-size: 1.2rem;
    padding: .5rem .5rem .5rem .5rem;
    border: 1px solid white;
    border-radius: var(--raduisButton);
    margin-top: 1rem;
    transition: 0.25s ease-out;
}
.btnSearch:hover{
    background-color: var(--BodyColor);
    color: var(--headerColor);
}

.header__public__img{
    flex: 2;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.header__public__img img{
    transition: 0.25s ease-out;
    height: 52rem;
}
.header__public__img img:hover{
    transform: rotate(1deg);
}

/* Fin complet de traitement du header */

/* traitement de la section partenaires */

.partenaires{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--primarySectionColor);
}
.partenaire__logo{
    width: 15rem;
    color: var(--secondSection);
    font-size: 1.5rem;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}
.Venue{
    color: var(--headerColor);
}

/* Fin du traitement de la minisection Partenaires  */

/* Traitement de la sectionn Features */
 .features{
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    background: var(--BodyColor);
}
.features__main{
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.features__main__top{
    width: 88vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}
.features__main__top h1{
    font-family: var(--titleHeadFont);
    font-size: 2rem;
}
.features__main__top a{
    font-family: var(--titleHeadFont);
}
.features__main__top__link{
    width: 20rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.features__main__top__link a{
    text-decoration: none;
    font-size: 1.2rem;
    color: blue;
}
.features__main__bottom{
    width: 88vw;
    display: flex;
    justify-content: space-between;
}
.features__main__bottom img{
    height: 30rem;
    width: 22rem;
    cursor: pointer;
    transition: 0.25s ease-out;
}
.features__main__bottom img:hover{
    transform: scale(1.1);
} 

/* Fin du traitement de la section features */

/* Traitement de la scetion latest */
.latest{
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    background: var(--primarySectionColor);
}
.latest__main{
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.latest__main__top{
    width: 88vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;   
}
.latest__main__top a{
    font-family: var(--titleHeadFont);  
}
.latest__main__top h1{
    font-family: var(--titleHeadFont);
    font-size: 2rem;
}
.latest__main__top__link{
    width: 20rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.latest__main__top__link a{
    text-decoration: none;
    font-size: 1.2rem;
    color: blue;
}
.latest__main__bottom{
    width: 88vw;
    display: flex;
    justify-content: space-around;
}
.latest__main__bottom img{
    cursor: pointer;
    transition: 0.25s ease-out;
}
.latest__main__bottom img:hover{
    transform: scale(1.1);
}

/* Fin du traitement de la section latest */
/* Traitement de la section services */
.services{
    width: 100vw;
    height: 60vh;
    background: var(--BodyColor);
}
.services__title{
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-family: var(--titleHeadFont);
}
.services__img{
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.3rem;
    font-family: var(--titleHeadFont);
    cursor: pointer;
    transition: 0.25s ease-out;
}
.services__img img:hover{
    transform: scale(1.2);
}
.services__btn{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services__btn button{
    border: none;
    border-radius: var(--raduisButton);
    color: var(--BodyColor);
    background-color: var(--buttonColor);
    cursor: pointer;
    padding: 1rem 4rem 1rem 4rem;
    transition: 0.25s ease-out;
}
.services__btn button:hover{
    color: var(--buttonColor);
    background-color: var(--headerColor);
    transform: scale(1.1);
}

/* Fin du traitement de la section services */
/* Traitement de la section solutions */

.solution{
    width: 100vw;
    height: 80vh;
    background: var(--headerColor);
    margin-top: 2rem;
}
.solution__main{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.solution__main__text{
    flex: 1;
    padding: 5rem;
}
.solution__main__text h1{
    font-size: 5rem;
    font-family: var(--titleHeadFont);
    color: var(--BodyColor);
}
.solution__main__text h3{
    font-size: 2rem;
    font-family: var(--titleHeadFont);
    color: var(--BodyColor);
}
.solution__main__text li{
    font-size: 1.5rem;
    font-family: var(--titleHeadFont);
    color: var(--BodyColor);
    margin-bottom: 1rem;
    list-style-type: none;
}
.solution__main__text button{
    margin-top: 2rem;
    padding: 1rem 3rem 1rem 3rem;
    border: 2px solid white;
    border-radius: var(--raduisButton);
    cursor: pointer;
    background-color: transparent;
    color: white;
    transition: 0.25s ease-out;
}
.solution__main__text button:hover{
    background-color: var(--BodyColor);
    color: var(--headerColor);
    transform: scale(1.1);
}
.solution__main__img{
    flex: 1;
    cursor: pointer;
}
.solution__main__img img{
    transition: 0.25s ease-out;
}
.solution__main__img img:hover{
    transform: scale(1.1);
}

/* Fin du traitement de la section solution */
/* Traitement de la section history */

.history{
    width: 100vw;
    height: 80vh;
    background: var(--primarySectionColor);
}
.history__main{
    display: flex;
    width: 100vw;
    height: 40vw;
    justify-content: space-around;
    align-items: center;
}
.history__main__img{
    flex: 1;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.history__main__text{
    flex: 1;
    display: flex;
    justify-content: space-around;
}
.history__main__text__left h3{
    font-size: 1.5rem;
    font-family: var(--titleHeadFont);
}
.history__main__text__left p{
    font-size: 1.6rem;
    font-family: var(--titleHeadFont);
}
.history__main__text__left span{
    font-size: 1.2rem;
    color: blue;
}
.history__main__text__right img{
    cursor: pointer;
    transition: 0.25s ease-out;
}
.history__main__text__right img:hover{
    transform: scale(1.1);
}

/* Fin du traitement de la section history */
/* Traitement de la section caroussel */

.caroussel{
    width: 100vw;
    height: 60vh;
    background-color: var(--headerColor);
}
.caroussel__main{
    width: 100vw;
    height: 60vh;
    display: flex;
    align-items: center;
}
.caroussel__main__text{
    flex: 1;
    padding: 4rem;
}
.caroussel__main__text h1{
    font-size: 5rem;
    font-family: var(--titleHeadFont);
    color: var(--BodyColor);
}
.caroussel__main__text p{
    font-size: 1.8rem;
    font-family: var(--titleHeadFont);
    color: var(--BodyColor);
}
.caroussel__main__text button{
    padding: 1rem 3rem 1rem 3rem;
    border: 2px solid white;
    border-radius: var(--raduisButton);
    cursor: pointer;
    background-color: transparent;
    color: white;
    transition: 0.25s ease-out;
}
.caroussel__main__text button:hover{
    background-color: var(--BodyColor);
    color: var(--headerColor);
    transform: scale(1.1);
}
.caroussel__main__img{
    flex: 2;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}
.caroussel__main__img img{
    transition: 0.25s ease-out;
}
.caroussel__main__img img:hover{
    transform: scale(1.1);
}

/* Fin du traitement de la section caroussel */
/* Traitement de la section event */

.event{
    width: 100vw;
    height: 65vh;
    background-color: var(--BodyColor);
    
}
.event__main{
   width: 100vw;
   height: 80vh;
   display: flex;
   flex-direction: column;
}
.event__main__top{
    flex: 1;
    width: 92vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    font-size: 2rem;
    font-family: var(--titleHeadFont);
}
.event__main__botom{
    flex: 4;
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: space-around;
}
.event__main__botom h1{ 
    font-size: 2rem;
    font-family: var(--titleHeadFont);
}
.event__main__botom p{ 
    font-size: 1.2rem;
    font-family: var(--titleHeadFont);
}
.event__main__botom img{ 
    cursor: pointer;
    width: 35rem;
    transition: 0.25s ease-out;
}
.event__main__botom img:hover{ 
    transform: scale(1.1);
}

/* Fin du traitement de la section event */
/* Traitement de la section collection */
.collection{
    width: 100vw;
    height: 80vh;
    background-color: var(--headerColor);
    display: flex;
}
.collection__text{
    flex: 1;
    padding-left: 5rem;
    margin-top: 12rem;
}
.collection__text h1{
    font-size: 5rem;
    font-family: var(--titleHeadFont);
    color: var(--BodyColor);
}
.collection__img{
    flex: 1;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
}
.collection__text a:hover{
    transform: scale(1.1); 
    background-color: var(--BodyColor);
    color: var(--headerColor);   
}
.collection__text a{
    padding: 1.5rem 3.5rem 1.5rem 3.5rem;
    border: 2px solid var(--BodyColor);
    border-radius: var(--raduisButton);
    transition: 0.25s ease-out;
    text-decoration: none;
    font-size: 2rem;
    font-family: var(--titleHeadFont);
    color: white; 
}

/* Fin du traitement de la section collection */
/* Traitement du footer */

.footer{
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--BodyColor);
}
.footer h1{
    font-size: 2.3rem;
    font-family: var(--titleHeadFont);
    margin-bottom: 3rem;
    color: var(--secondSection);
}
.footer li{
    font-size: 1.8rem;
    font-family: var(--titleHeadFont);
    margin-bottom: 2.1rem;
    list-style-type: none;
    color: var(--secondSection);
} 

/* Fin du traitement du footer */
/* Traitement de la section finale */

.end{
    width: 100vw;
    height: 30vh;
    background-color: var(--BodyColor);
}
.end__text{
    display: flex;
    padding-left: 6rem;
    padding-right: 6rem;
    justify-content: space-between;
    align-items: center;;
}
.end__text h2{
    font-size: 1.8rem;
    font-family: var(--titleHeadFont);
    color: var(--secondSection);
}
.end__reseaux img{
    margin-left: 1rem;
}
.end__message{
    font-size: 1.3rem;
    font-family: var(--titleHeadFont);
    display: flex;
    align-items: center;
    padding: 5rem;
    color: var(--secondSection);
}
hr{
    width: 92%;
}

/* Fin de la section end */

     @media only screen and (max-width: 950px){

        .header__navbar__title{
            font-family: var(--titleHeadFont);
            font-size: 2.3rem;
            color: var(--BodyColor);
            display: flex;
            justify-content: center;
            flex: 1;
            padding-left: 0;
        }
        .header__public{
            width: 100vw;
            height: 78vh;
            display: flex;
            flex-direction: column;
            margin-top: 0;
        }
        .header__public__text{
            flex: 4;
            padding: 5rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .header__pulic__text__title h1{
            font-size: 8.5rem;
            color: var(--BodyColor);
        }
        .partenaires{
            width: 100vw;
            height: 5vh;
        }
        .partenaire__logo p{
            font-size: 1.9rem;
        }
        .features{
            width: 100vw;
            height: 75vh;
            display: flex;
            align-items: center;
            background: var(--BodyColor);
        }
        .features__main{
            width: 100vw;
            height: 60vh;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .features__main__top{
            width: 88vw;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
        }
        .features__main__top h1{
            font-family: var(--titleHeadFont);
            font-size: 2.5rem;
        }
        .features__main__top a{
            font-family: var(--titleHeadFont);
        }
        .features__main__top__link{
            width: 20rem;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
        .features__main__top__link a{
            text-decoration: none;
            font-size: 1.8rem;
            color: blue;
        }
        .features__main__bottom{
            width: 88vw;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        .features__main__bottom img{
            height: 50rem;
            width: 40rem;
            cursor: pointer;
            transition: 0.25s ease-out;
        }
        .features__main__bottom .mainBottomImg{
            display: none;
        }
        .latest{
            width: 100vw;
            height: 80vh;
            display: flex;
            align-items: flex-start;
        }
        .latest__main{
            width: 100vw;
            height: 60vh;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .latest__main__top{
            width: 88vw;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex: 1;   
        }
        .latest__main__top a{
            font-family: var(--titleHeadFont);  
        }
        .latest__main__top h1{
            font-family: var(--titleHeadFont);
            font-size: 2.8rem;
        }
        .latest__main__top__link{
            width: 20rem;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
        .latest__main__top__link a{
            font-size: 2rem;
        }
        .latest__main__bottom{
            width: 88vw;
            display: flex;
            justify-content: space-around;
        }
        .latestImg{
            display: none;
        }
        .latest__main__bottom img{
            cursor: pointer;
            width: 45rem;
            height: 55rem;
            transition: 0.25s ease-out;
        }

}































@media only screen and (max-width: 650px){
.header{
    width: 100vw;
    height: 94.5vh;
    background: var(--headerColor);
}
}


@media only screen and (max-width: 350px){
.header{
    width: 100vw;
    height: 94.5vh;
    background: var(--headerColor);
}
}